<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Three</title>
</head>
<body>
    <div id="questions">
        <h1>{{ question.question }}</h1>

        <form method="POST" action="/questions/3"> 
            <label for="money">Enter an amount:</label>
            <input type="number" name="money" id="money" required> 

            <button type="submit">Next</button>
        </form>
    </div> 
</body>
</html>
